# exclude everything
/*

!/config
/config/*

!/config/acf
/config/acf/*
!/config/acf/*ccda_config*
!/config/acf/*ccda_cpp*

!/config/cct
/config/cct/*
!/config/cct/ARM_Compiler_6_A53.cct
!/config/cct/ARM_Compiler_6_R7.cct
!/config/cct/ARM_Compiler_6_R5.cct
!/config/cct/GHS_201713_testversion1i_rh850_C++11.cct
!/config/cct/GHS_201715_standalone_TC1V162_C++11.cct
!/config/cct/GHS_201815_standalone_RH850_C++11.cct
!/config/cct/GHS_201815_standalone_TC1V162_C++11.cct
!/config/cct/DATA
/config/cct/DATA/*
!/config/cct/DATA/ARM_Compiler_6_A53
!/config/cct/DATA/ARM_Compiler_6_R7
!/config/cct/DATA/ARM_Compiler_6_R5
!/config/cct/DATA/GHS_201713_testversion1i_rh850_C++11
!/config/cct/DATA/GHS_201715_standalone_TC1V162_C++11
!/config/cct/DATA/GHS_201815_standalone_RH850_C++11
!/config/cct/DATA/GHS_201815_standalone_TC1V162_C++11

!/config/ncf
/config/ncf/*
!/config/ncf/*ccda_config*

!/config/qav
/config/qav/*
!/config/qav/*ccda_config*
!/config/qav/*ccda_cpp*


!/config/rcf
/config/rcf/*
!/config/rcf/*ccda_config*
!/config/rcf/*ccda_cpp*

!/config/vcf
/config/vcf/*
!/config/vcf/*ccda_config*

!/user_library
!/user_library/messages.xml

!.gitignore
!README.MD

!/3rdpartytools

# Python default exclusions
*.stamp
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
